<br>
<div class="#">
  <div class="col-lg-10 col-lg-offset-1">
    <p><%= link_to '&larr; HomePage'.html_safe, root_path %></p><br>
  </div>
</div>

<%= render 'shared/two_breaks' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/display_lawyer' %>
  </div>
</div>

<%= render 'shared/three_breaks' %>
