<div id="myDiv" >
  <%#= image_tag('LawVilleLogo.png') %>
  <div class="container">
    <div class="row">
      <div class="col-6 img-responsive">
        <%= image_tag('LawVilleLogo.png') %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9" data-wow-delay="0.2s">

        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center">

            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p class="blockquote_edit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. !</p>
                  <!--<small>Someone famous</small>-->
                </div>
              </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p class="blockquote_edit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. !</p>
                    <!--<small>Someone famous</small>-->
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <p class="blockquote_edit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. !</p>
                    <!--<small>Someone famous</small>-->
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Bottom Carousel Indicators -->
          <!--<div>-->
          <ol class="carousel-indicators img-responsive">
            <li data-target="#quote-carousel" data-slide-to="0" >
            </li>
            <li data-target="#quote-carousel" data-slide-to="1">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2">
            </li>
          </ol>
          <!--</div>-->



          <!-- Carousel Buttons Next/Prev -->
          <!--<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>-->
          <!--<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>-->
        </div>

      </div>

      <div class="col-md-3 blockquote_edit2 hidden-sm hidden-xs">
        <div><h4>call us toll free:</h4>
          <div><strong>(800) 123 1234</strong><br>
            <span>7 days a week</span> from 8:00 am to 2:00 am
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--</div>-->
  <!--</div>-->
</div>

